<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167472465477-u91ifn9fv3aam4kcvjtcb44cfj7c7686.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167472465477-u91ifn9fv3aam4kcvjtcb44cfj7c7686</string>
	<key>API_KEY</key>
	<string>AIzaSyA7JlwxGoqRrbVtaNkImZqE8ZIvB2GaEKE</string>
	<key>GCM_SENDER_ID</key>
	<string>167472465477</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Skul.app.Skul-e2-</string>
	<key>PROJECT_ID</key>
	<string>skul-1bf67</string>
	<key>STORAGE_BUCKET</key>
	<string>skul-1bf67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167472465477:ios:0e14d608365609f838052c</string>
</dict>
</plist>